In [1]:
"""
Ignore the pandas' will not sort the "pd.append(df)" warning
"""
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)


from finlab.crawler import (
    widget, 
    
    crawl_price, 
    crawl_monthly_report, 
    crawl_finance_statement_by_date,

    date_range, month_range, season_range
)

import sqlite3
import os
conn = sqlite3.connect(os.path.join('data', "data.db"))

widget(conn, 'price', crawl_price, date_range)
widget(conn, 'monthly_revenue', crawl_monthly_report, month_range)
widget(conn, 'finance_statement', crawl_finance_statement_by_date, season_range)

VBox(children=(Label(value='price (from 2013-01-02 to 2018-11-23)'), HBox(children=(DatePicker(value=datetime.…

VBox(children=(Label(value='monthly_revenue (from 2005-02-10 to 2018-11-10)'), HBox(children=(DatePicker(value…

VBox(children=(Label(value='finance_statement (No table found)(對於finance_statement是正常情況)'), HBox(children=(Dat…

start crawl finance_statement from  2018-03-31 to 2018-11-14

HBox(children=(IntProgress(value=0, max=4), HTML(value='')))

crawling 2018-03-31
http://mops.twse.com.tw/nas/t21/sii/t21sc03_106_11.html

parse htmls 2017 season 4 stock 912398: 100%|██████████| 918/918 [01:28<00:00, 10.42it/s]
parse htmls 2017 season 4 stock 912398: 100%|██████████| 918/918 [01:35<00:00,  9.60it/s]
parse htmls 2017 season 4 stock 912398: 100%|██████████| 918/918 [01:30<00:00, 10.16it/s]
parse htmls 2017 season 4 stock 912398:  96%|█████████▌| 879/918 [01:02<05:50,  8.98s/it]

**WARRN: requests cannot get stock 912398 .html

parse htmls 2017 season 4 stock 912398: 100%|██████████| 918/918 [01:28<00:00, 10.32it/s]
parse htmls 2017 season 4 stock 912398: 100%|██████████| 918/918 [01:41<00:00,  9.03it/s]
parse htmls 2017 season 4 stock 912398: 100%|██████████| 918/918 [01:38<00:00,  9.36it/s]
parse htmls 2017 season 4 stock 1323: 100%|██████████| 925/925 [02:31<00:00,  7.75it/s]

**WARRN: no data to parse
save table to db
   balance_sheet

/home/tiba/workspace/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

   cash_flows
   income_sheet
   income_sheet_cumulate
crawling 2018-05-15
http://mops.twse.com.tw/nas/t21/sii/t21sc03_107_2.html

parse htmls 2018 season 1 stock 912398: 100%|██████████| 918/918 [02:38<00:00,  5.77it/s]
parse htmls 2018 season 1 stock 912398: 100%|██████████| 918/918 [02:35<00:00,  5.89it/s]
parse htmls 2018 season 1 stock 912398: 100%|██████████| 918/918 [02:21<00:00,  6.50it/s]
parse htmls 2018 season 1 stock 912398: 100%|██████████| 918/918 [02:33<00:00,  5.97it/s]
parse htmls 2018 season 1 stock 912398: 100%|██████████| 918/918 [02:26<00:00,  6.26it/s]
parse htmls 2018 season 1 stock 912398: 100%|██████████| 918/918 [02:23<00:00,  6.38it/s]
parse htmls 2018 season 1 stock 1323: 100%|██████████| 925/925 [02:25<00:00,  8.02it/s]

save table to db
   balance_sheet

/home/tiba/workspace/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

   cash_flows
   income_sheet
   income_sheet_cumulate
crawling 2018-08-14
http://mops.twse.com.tw/nas/t21/sii/t21sc03_107_5.html

parse htmls 2018 season 2 stock 912398: 100%|██████████| 919/919 [01:52<00:00,  8.15it/s]
parse htmls 2018 season 2 stock 912398: 100%|██████████| 919/919 [01:49<00:00,  8.36it/s]
parse htmls 2018 season 2 stock 912398: 100%|██████████| 919/919 [01:58<00:00,  7.73it/s]
parse htmls 2018 season 2 stock 912398: 100%|██████████| 919/919 [01:53<00:00,  8.07it/s]
parse htmls 2018 season 2 stock 912398: 100%|██████████| 919/919 [02:02<00:00,  7.53it/s]
parse htmls 2018 season 2 stock 912398: 100%|██████████| 919/919 [02:08<00:00,  7.14it/s]
parse htmls 2018 season 2 stock 8905: 100%|██████████| 1686/1686 [04:22<00:00,  7.84it/s]

save table to db
   balance_sheet

/home/tiba/workspace/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

   cash_flows
   income_sheet
   income_sheet_cumulate
crawling 2018-11-14
http://mops.twse.com.tw/nas/t21/sii/t21sc03_107_8.html

parse htmls 2018 season 3 stock 912398: 100%|██████████| 921/921 [08:21<00:00,  1.84it/s]
parse htmls 2018 season 3 stock 912398: 100%|██████████| 921/921 [08:15<00:00,  1.86it/s]
parse htmls 2018 season 3 stock 912398: 100%|██████████| 921/921 [07:57<00:00,  1.93it/s]
parse htmls 2018 season 3 stock 912398: 100%|██████████| 921/921 [08:21<00:00,  1.84it/s]
parse htmls 2018 season 3 stock 912398: 100%|██████████| 921/921 [08:03<00:00,  1.90it/s]
parse htmls 2018 season 3 stock 912398: 100%|██████████| 921/921 [07:55<00:00,  1.94it/s]
parse htmls 2018 season 3 stock 1323: 100%|██████████| 921/921 [02:45<00:00,  7.04it/s]

save table to db
   balance_sheet

/home/tiba/workspace/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

   cash_flows
   income_sheet
   income_sheet_cumulate

# 時間區間範例：

In [14]:
print('2010年抓取財報的時間點是')
season_range(datetime.date(2010,1,1), datetime.date(2011,1,1))

2010年抓取財報的時間點是

[datetime.date(2010, 3, 31),
 datetime.date(2010, 5, 15),
 datetime.date(2010, 8, 14),
 datetime.date(2010, 11, 14)]

# 每季財報 時間區間補充：

關於每季財報爬取，選取的時間範圍要「包含」以下時段，就能夠爬到截止日期的財報囉！例如：

* 2010年3月31號 --> 2009 第四季
* 2010年5月15號 --> 2010 第一季
* 2010年8月14號 --> 2010 第二季
* 2010年11月14號 --> 2010 第三季

所以假如我們想要抓2018年的第一季，就可以輸入一個時間範圍，例如：

* 2018年5月01號 到 2018年5月31號

因為這段時間有包含 2018年5月15號，所以就會下載 2018年第一季的財報喔！

# 程式化更新資料

In [2]:
import datetime
from finlab.crawler import update_table
#update_table(conn, 'price', crawl_price, [datetime.date(2018,3,26)])
#update_table(conn, 'monthly_revenue', crawl_monthly_report, [datetime.date(2018,3,1)])
#update_table(conn, 'finance_statement', crawl_finance_statement_by_date, [datetime.date(2018,3,31)])